$violetCircus : #AC2187;
$darkCircus : #2D2D2D;
$whiteCircus : #FAFAFA;


@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$quickSandFont : Quicksand, Arial, sans-serif;
