@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "home";
@import "programs";
@import "calendar";
@import "history";
@import "comment";
body {
    margin:0;
    font-family: $quickSandFont;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:$darkCircus;
    text-align:left;
    background-color:$whiteCircus;
}

h4 {
    font-weight: 600;
}
h2 {
    font-weight: 600;
}
