
.site-wrapper {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-social li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}
.text-gray {
  color: #818181;
}

.text-lowercase {
  text-transform: lowercase;
}
.logo-hidden {
  font-size: 30px;
  color: $whiteCircus;

  .resize-logo {
    max-width: 465px;
    border: white 20px;
    filter: drop-shadow(16px 16px 20px red) invert(184%);
  }
}
.image-voiture {
  width: 100%;
}
.main-box {
  position: absolute;
  width: 100%;
  bottom: -150px;
  padding: 10px;
  z-index: 3;
}
.main-box-inner {
  background-color: $whiteCircus;
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 735px;
  min-height: 180px;
  padding: 10px;
}
.main-box-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 10px;
  border: 2px solid $darkCircus;
  text-align: center;
}
.image-wild {
  width: 100%;
}
.bg-gradient-secondary {
  background-image: linear-gradient(90deg,
          #a3238e 0,
          #ed1555);
}

.show-list-home {
  margin-top: 100px;
  position: relative;
  z-index: 7;
}

.card-deck-show .card {
  width: calc(33% - 30px);
  margin-bottom: 45px;
  overflow: hidden;
}
.box-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}
.card-deck-show .card .card-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: all .5s ease;
}

.card-deck-show .card-img {
  padding-bottom: 110%;
}
.card-img {
  width: 100%;
  border-radius: calc(.25rem - 3px);
}
.card-deck-show .card-body {
  padding: 1.875rem;
  position: relative;
}
.show-list-home .card:nth-child(2) {
  margin-top: 45px;
  margin-bottom: 0;
}
