{% extends 'base.html.twig' %}
{% block body %}
    <title>{% block title %}Psycherdelic Circus - Bordeaux{% endblock %}</title>
    {% include '_nav.html.twig' %}

<div class=" header" style="overflow: hidden; ">
    <div class="header-top">

    <h1 class="header-title text-center">Shows</h1>
        <a class="btn btn-secondary rounded-lg font-weight-bold justify-content-center" href="{{ path('ticket_index') }}">Buy your tickets <i class="fas fa-ticket-alt ml-2" data-fa-transform="rotate-135"></i></a>
    </div>
</div>
    <div class="map mt-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.7386713476285!2d-0.5938600491666527!3d44.84725508231484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527e2cfe09657%3A0xd024aa3289ecced8!2s16%20Rue%20Ernest%20Renan%2C%2033000%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1580317401235!5m2!1sfr!2sfr" width="1520" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
<div class="container-fluid" style="background-color: #F0E9D0; overflow: hidden">

<div class="col-2 d-flex">

{% for program in programs %}

    <div class="m-4 one-four box illustration image-box mt-5">
        <figure class="thumb">
            <div class="image-wrapper">
                <a href="#">
                    <img src="{{program.poster}}" class="lazy-loaded" style="max-width: 400px; min-width: 300px"alt="fruit">
                </a>
            </div>
            <figcaption class="micro">
                <div class="large caption-title"><h4>{{ program.title}}</h4></div>
                <span class="caption">Cinema review of The Avengers.&nbsp;</span>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>

    </div>
{% endblock %}
