<header class="navbar navbar-main bg-dark position-relative">

    <div class="nav-top-wrapper site-wrapper bg-dark">
        <div class="container-fluid">
            <div class="nav-top row justify-content-between align-items-center no-gutters">
                <ul class="nav-social position-relative z-2">
                    <li><a class="text-gray" href="#" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                    <li><a class="text-gray" href="#" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                    <li><a class="text-gray" href="#" target="_blank"><i
                                    class="fab fa-twitter"></i></a></li>
                    <li><a class="text-gray" href="#"
                           target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <div class="row no-gutters justify-content-end position-relative z-2">
                    <div class="nav-item">
                        <a class="link text-gray font-weight-bold border-h text-lowercase"
                           href="
                          #">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sticky-anchor" class="w-100"></div>

    <div class="sticky-wrapper w-100">
        <div class="sticky bg-dark w-100">
            <div class="site-wrapper">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-center" style="width: 100%">
                        <div class="col mw-500">
                            <nav class="nav-main row justify-content-between align-items-start no-gutters">
                                <div class="nav-item"><a
                                            class="link text-white xxlg font-weight-bold border-h text-lowercase"
                                            href="{{ path('program_index') }}">Shows</a></div>
                                <div class="nav-item"><a
                                            class="link text-white xxlg font-weight-bold border-h text-lowercase"
                                            href="{{path('calendar_show') }}">Calendar</a></div>
                                <div class="nav-item dropdown">
                                    <a class="link text-white xxlg font-weight-bold border-h text-lowercase" href="#"
                                       role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        Wild’s DNA
                                        <span class="text-gray ml-1">+</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="{{path('history_index')}}">About</a>
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="http://flipfabrique.com/en/adn-flip/our-dna/">FLIP Team</a>
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="http://flipfabrique.com/en/adn-flip/partenaires/">Presenters</a>
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="http://flipfabrique.com/en/adn-flip/creatzirque/">Créatzirque</a>
                                    </div>
                                </div>
                            </nav>
                        </div>

                        <a class="logo-hidden" href="{{ path('user_index') }}">
                            <img class="resize-logo"
                                 src="https://festipi.nl/wp-content/uploads/2017/11/psy_cir_logo.png"
                                 alt="wild circus's logo"></a>

                        <div class="col mw-530">
                            <nav class="nav-sub row justify-content-between align-items-center no-gutters">
                                <div class="nav-item"><a
                                            class="link text-white font-weight-bold border-h text-lowercase"
                                            href="http://flipfabrique.com/en/nouvelles/">News</a></div>
                                <div class="nav-item dropdown">
                                    <a class="link text-white font-weight-bold border-h text-lowercase" href="#"
                                       role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        category
                                        <span class="text-gray ml-1">+</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="http://flipfabrique.com/en/industrie/evenement-special/">Magic</a>
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="http://flipfabrique.com/en/industrie/diffuseurs/">High</a>
                                        <a class="dropdown-item text xsm font-weight-bold ls-lg text-lowercase"
                                           href="http://flipfabrique.com/en/adn-flip/jobs/">Spectacular</a>
                                    </div>
                                </div>
                                <div class="nav-item"><a
                                            class="link text-white font-weight-bold border-h text-lowercase"
                                            href="http://flipfabrique.com/en/medias/">Media</a></div>
                                <div class="nav-item"><a class="btn btn-sm btn-primary rounded-lg font-weight-bold"
                                                         href="http://flipfabrique.com/en/newsletter/">Newsletter</a>
                                </div>
                            </nav>
                        </div>

                        <div class="burger">
                            <svg class="svg-inline--fa fa-bars fa-w-14 fa-2x text-white" aria-hidden="true"
                                 data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                            </svg><!-- <i class="fas fa-bars fa-2x text-white"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
