{% extends 'base.html.twig' %}
{% block body %}
    <title>{% block title %}Psycherdelic Circus - Bordeaux{% endblock %}</title>
    {% include '_nav.html.twig' %}

    <div class=" header">
        <div class="header-top">

            <h1 class="header-title text-center">Our history</h1>
            <a class="btn btn-secondary rounded-lg font-weight-bold justify-content-center" href="#">Buy your tickets <i
                        class="fas fa-ticket-alt ml-2" data-fa-transform="rotate-135"></i></a>
        </div>
    </div>

    <div class="background-calendar position-relative">
        <img class="voute-violette" src="http://flipfabrique.com/wp-content/themes/flip/lib/images/mask.svg" alt="">


        <div class="timeline">

            <h5 class="timeline__item timeline__item--year">2008</h5>

            <div class="timeline__item">
                <h3 class="timeline__title">Psycherdelic Circus was Born</h3>
                <p class="timeline__blurb">The first circus that make you shine ...!</p>
            </div>

            <h5 class="timeline__item timeline__item--year">2009</h5>

            <div class="timeline__item">
                <h3 class="timeline__title">We created the lion throw</h3>
                <p class="timeline__blurb">Psycherdelic Circus do that for the first time in the world</p>
            </div>

            <h5 class="timeline__item timeline__item--year">2015</h5>

            <div class="timeline__item">
                <h3 class="timeline__title">The team is now 12 people </h3>
                <p class="timeline__blurb">Laureen and Celine join the adventure</p>
            </div>

            <h5 class="timeline__item timeline__item--year">2017</h5>

            <div class="timeline__item">
                <h3 class="timeline__title">Circus Award 2020</h3>
                <p class="timeline__blurb">Psywherdelic Circus win the arward of the best Acrobatic Show ! </p>
            </div>

            <h5 class="timeline__item timeline__item--year">2019</h5>

        </div>
    </div>






{% endblock %}
