{% extends 'base.html.twig' %}
{% block body %}
<title>{% block title %}Psycherdelic Circus - Bordeaux{% endblock %}</title>
{% include '_nav.html.twig' %}
<div>
    <img class="image-voiture" src="{{ asset('build/images/entete.png') }}" alt="newdeal's logo">
    <div class="main-box">
        <div class="main-box-inner">
            <div class="main-box-content">
                <h4>OUR SHOWS</h4>
                <h2>NOS SPECTACLES</h2>
                <div class="btn-group">
                    <a href="https://www.cirque-eloize.com/fr/spectacles-billets/" data-track="Spectacles"
                       class="btn btn-cta white info">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div>

        <div class="show-list-home container-fluid container-md">
            <div class="card-deck-show row no-gutters justify-content-between">
                <div class="card bg-dark text-white border-0 rounded-md text-center">
                    <a href="http://flipfabrique.com/en/show/blizzard/" class="box-link z-5"></a>
                    <div class="card-bg"
                         style="background-image: url('http://flipfabrique.com/wp-content/uploads/2019/07/petrouchka-vignette-500x0-c-default.jpg')"></div>
                    <div class="card-img"></div>
                    <div class="card-body">
                        <a class="card-title text-white font-weight-bold"
                           href="http://flipfabrique.com/en/show/blizzard/">blablabla</a>
                        <p class="card-text text mt-4 font-weight-bold">Psycherdelic Circus takes you on a crazy, poetic and
                            gentle journey in the dead of winter, and invites you to lose yourself in a moment of
                            complete wonder.</p>
                    </div>


                    <div class="card-footer border-0 z-6">
                        <div class="row  justify-content-between  no-gutters">
                            <div class="mt-2">
                                <a class="text text-blue xxsm text-uppercase font-weight-bold"
                                   href="http://flipfabrique.com/en/show/blizzard/">More information</a>
                            </div>
                            <div class="mt-2">
                                <a class="text text-blue xxsm text-uppercase font-weight-bold"
                                   href="http://flipfabrique.com/en/show/blizzard/#billets">Buy your tickets
                                  <i class="fas fa-ticket-alt icon-md ml-2" data-fa-transform="rotate-135"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card bg-dark text-white border-0 rounded-md text-center">
                    <a href="http://flipfabrique.com/en/show/quebec-winter-carnival-parade-2020/"
                       class="box-link z-5"></a>
                    <div class="card-bg"
                         style="background-image: url('http://flipfabrique.com/wp-content/uploads/2019/01/spectacle-vignette-blizzard-500x0-c-default.jpg')"></div>
                    <div class="card-img"></div>
                    <div class="card-body">
                        <a class="card-title text-white font-weight-bold"
                           href="http://flipfabrique.com/en/show/quebec-winter-carnival-parade-2020/">Blablabla 2020</a>
                        <p class="card-text text mt-4 font-weight-bold">Psycherdelic Circus’s intrepid performers have
                            captured all the excitement and wonder of a Quebec winter storm seen through the eyes of a
                            child</p>
                    </div>


                    <div class="card-footer border-0 z-6">
                        <div class="row  justify-content-between  no-gutters">
                            <div class="mt-2">
                                <a class="text text-blue xxsm text-uppercase font-weight-bold"
                                   href="http://flipfabrique.com/en/show/quebec-winter-carnival-parade-2020/">More
                                    information</a>
                            </div>
                            <div class="mt-2">
                                <a class="text text-blue xxsm text-uppercase font-weight-bold"
                                   href="http://flipfabrique.com/en/show/quebec-winter-carnival-parade-2020/#billets">Buy
                                    your tickets
                                   <i class="fas fa-ticket-alt icon-md ml-2" data-fa-transform="rotate-135"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card bg-dark text-white border-0 rounded-md text-center">
                    <a href="http://flipfabrique.com/en/show/transit/" class="box-link z-5"></a>
                    <div class="card-bg"
                         style="background-image: url('http://flipfabrique.com/wp-content/uploads/2018/09/transit-apercu-1-500x0-c-default.jpg')"></div>
                    <div class="card-img"></div>
                    <div class="card-body">
                        <a class="card-title text-white font-weight-bold"
                           href="http://flipfabrique.com/en/show/transit/">Bablabla 2020</a>
                        <p class="card-text text mt-4 font-weight-bold">With Transit, and in a spirit of celebration and
                            camaraderie, Psycherdelic Circus invites you to live the ups and downs of a life on tour. It takes
                            nerve to conjure up the remarkable and dizzy heights of a moment in time where everything is
                            possible!</p>
                    </div>


                    <div class="card-footer border-0 z-6">
                        <div class="row  justify-content-between  no-gutters">
                            <div class="mt-2">
                                <a class="text text-yellow xxsm text-uppercase font-weight-bold"
                                   href="http://flipfabrique.com/en/show/transit/">More information</a>
                            </div>
                            <div class="mt-2">
                                <a class="text text-yellow xxsm text-uppercase font-weight-bold"
                                   href="http://flipfabrique.com/en/show/transit/#billets">Buy your tickets
                                  <i class="fas fa-ticket-alt icon-md ml-2" data-fa-transform="rotate-135"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

    {% endblock %}
